<div class="login-container">
  <h2 class="form-title">Fit Switch</h2>

  <!-- Espacio para el logo -->
  <div class="logo-container">
    <img src="https://www.fit-bank.com/static/media/logo_fitbank_nuevo%20transparente.91f74b00173235b06fe0.png" alt="Logo de la Empresa" class="logo">
  </div>

  <form class="login-form">
    <h1 class="form-title">Inicio de Sesión</h1>
    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" id="username"  name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password"  name="password" required>
    </div>
    <button routerLink="/dashboard"  class="submit-btn" type="submit">Ingresar</button>
  </form>
</div>
