/* Contenedor para centrar el contenido */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #484a53, #014069); /* Fondo degradado */
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}


/* Contenedor del logo */
.logo-container {
  margin-bottom: 1.5rem;
}

/* Estilos para el logo */
.logo {
  max-width: 180px; /* Aumento el tamaño máximo de la imagen */
  max-height: 180px;
  /* Elimina la propiedad border-radius para no hacer la imagen redonda */
  box-shadow: 0 4px 8px #014069;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1); /* Efecto de zoom sutil al pasar el mouse */
}

/* Estilos del formulario de inicio de sesión */
.login-form {
  background-color: #babfdd;
  padding: 2.5rem;
  border-radius: 0 15px 75px 0; /* Solo bordes redondeados a la derecha */
  box-shadow: 5px 8px 30px rgb(30, 30, 31);
  width: 100%;
  max-width: 400px;
  border-left: 8px solid #257180; /* Borde decorativo a la izquierda */
  position: relative;
  overflow: hidden;
}

.login-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(69, 123, 157, 0.1), rgba(29, 53, 87, 0.05));
  pointer-events: none;
}

/* Título del formulario "Inicio de sesión" */
.login-form h1.form-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #031530;
}

/* Estilos para los grupos de formulario */
.form-group {
  margin-bottom: 1.5rem;
}

/* Estilos para las etiquetas de los campos de formulario (usuario, contraseña) */
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #111131;
}

/* Estilos de los campos de entrada (inputs) */
.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #363636;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Estilos al enfocar los campos de entrada */
.form-group input:focus {
  border-color: #457b9d;
  outline: none;
  box-shadow: 0 0 10px rgba(69, 123, 157, 0.4);
}



/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .login-form {
      padding: 1.5rem;
      border-radius: 0; /* Elimina los bordes redondeados en pantallas pequeñas */
  }

  .form-title {
      font-size: 1.5rem;
  }

  .logo {
      max-width: 120px; /* Reduce el tamaño del logo en pantallas pequeñas */
      max-height: 120px;
  }
}






/* Estilos para el botón de inicio de sesión */
.animated-button {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 0 2px #021963;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(13, 17, 7);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(40, 80, 87);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #000000;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #050505;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}



