

/* Tabla contenedor */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  /* Estilo del encabezado */
  thead {
    background-color: #44607e;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
  }
  
  thead th {
    padding: 12px 15px;
    border: 1px solid #ffffff;
  }
  
  /* Filas del cuerpo */
  tbody tr {
    //border-bottom: 1px solid #d60a0a;
    background-color: #a29ce0;
    transition: background-color 0.3s ease;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    
  }
  
  tbody tr:nth-child(even) {
    background-color: #9c9696; /* Alternar color para filas pares */
  }
  
  /* Efecto hover */
  tbody tr:hover {
    background-color: #e9ecef;
  }
  
  /* Celdas del cuerpo */
  tbody td {
    padding: 10px 15px;
    border: 1px solid #000000;
  }
  
  /* Resaltar texto de la primera celda de la tabla 
  tbody td:first-child {
    font-weight: bold;
    color: #000000;
  }*/

  
  /* Responsivo */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    thead th,
    tbody td {
      padding: 8px 10px;
    }
  }


  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
  
      li {
        margin: 0 5px;
  
        a {
          text-decoration: none;
          padding: 10px 15px;
          border: 1px solid #007bff;
          border-radius: 20px;
          color: #007bff;
          background-color: #ffffff; 
          transition: background-color 0.3s, color 0.3s;
  
          &:hover {
            background-color: #007bff;
            color: #ffffff;
          }
  
          &.current {
            background-color: #0056b3;
            color: #ffffff;
          }
        }
      }
    }
  }




  ////NUEVOS ESTILOS DE LOS INPUTS DE BUSQUEDA Y FILTROS 
  /// Estilos de los inputs
  .filter-label{
    outline: none;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .filter_input{
    outline: none;
    color: #353434;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #000000;
  }

  .button_filter{
    background-color: #44607e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  .button_filter:hover {
    background-color: #bb270d;
  }

  .material-symbols-outlined {
    color: #ffffff;
    margin-right: 10px;
    padding: 10px;
    float: right;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24,
  }

  .material-symbols-outlined:hover {
    color: #cf7b0e;
  }
  
  .hscroll {
    overflow-x: auto; 
    border-radius: 10px;
   
  }




  







  /////ESTILOS  DE BOTONES DEL SEMAFORO QUE VAN EN LA TABLA, ESPECIFICAMENTE DEL 
  /// CAMPO "Cód. de respuesta" 
  /// 
  .green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
  }
  
  .red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 80px;
    height: 55px;
    width: 55px;
    font-size: 12px;
    margin: 5px;
    text-align: center;

  }
  